/* Declaracion de variables globales EJ: Colores, fuentes, etc... */
:root{
    /* Colores principales */
    --color-principal: #111111;
    --color-superf-tarjetas:#9b9b9b ;

    /* Colores de botones e iconos */
    --color-efectos: #C1121F;
    --color-bordes: #C9A227;
    --color-enlaces-y-hovers: #1E5EFF;

    /* Colores de textos y titulos */
    --color-textos-titulos: #F5F5F5;
    --color-palabras-clave: #C9A227;
    --color-texto-secundario: rgba(245, 245, 245, 0.7);
}

/*Metricas responsive (Media Query)*/
/* Estoy estudiando como funciona c: */
/* Adaptación optimizada para móvil, posición vertical y horizontal */
@media(min-width: 768px) {
    #contenedor{
    }
}

/* Adaptación optimizada para tablet, posición vertical y horizontal */
@media(min-width: 768px) {
    #contenedor{
    }
}

/* Adaptación de ancho fijo de resoluciones de más de 1300px de ancho */
@media (min-width: 1300px) {
    #contenedor {
        width: 1200px; 
        margin: 0 auto;
    }
}

/* Ajuste global */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-principal);
}

#contenedor {

}

/* Ajuste de la cabercera*/
.cabecera {
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    padding: 10px 30px;
    color: white;
}

.cabecera .logo{
    width: 150px;
    height: 100px;
    display: block;
}

/* Ajuste del menu desplegable */
.cabecera .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.cabecera .menu ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 20px;
}

/* Ajustes del contenedor de iconos */
.iconos {
    display: flex;            
    align-items: center;
}

.iconos a {
    color: white;
    font-size: 24px;          
    display: flex;
    margin: 15px;
}

/* Ajustes del contenido principal */
.principal {
    width: 100%;
}
.principal img {
    width: 100%;
    height: 100vh;
}

